{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %}
Admin
{% endblock %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

<!-- inicio codificacion barra navegacion-->

{% block nav%}
	<nav>
		<ul class="nav">
			<li><a href="{% url 'inicio' %}">Inicio</a></li>
			<li><a href="#">Agregar</a>
				<ul>
					<li><a href="{% url 'agregarl' %}">Libro</a></li>
				</ul>
			</li>
			<li><a href="">Eliminar</a>
				<ul>
					<li><a href="#">Libro</a></li>
					<li><a href="#">Autor</a></li>
					<li><a href="#">Genero</a></li>
					<li><a href="#">Editorial</a></li>
				</ul>
			</li>
			<li><a href="#">Modificar</a>
				<ul>
					<li><a href="#">Libro</a></li>
					<li><a href="#">Autor</a></li>
					<li><a href="#">Genero</a></li>
					<li><a href="#">Editorial</a></li>
				</ul>
			</li>
		</ul>
	</nav>
{% endblock %}
<!-- fin codificacion barra navegacion-->

{% block contenido %}

<!--codificacion del index lista de libros registrados-->
		{% for i in libros_registrados %}
			<div class="lista">
				<img class="img" src="/media/{{i.portada}}" alt="img_portada_libro">
				<div class="texto">
					<p>{{i.titulo}}</p>
					<p>{{i.autor}}</p>
					<p>{{i.fecha_publicacion}}</p>
					<p>{{i.traduccion}}</p>
					<p>{{i.titulo_traduccion}}</p>
				</div>
			</div>
		{% endfor %}
<!--fin codificacion del index-->
{% endblock %}
