{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_index.css' %}">
	{% block estilos%}
	{% endblock%}
	<meta charset="utf-8"/>
	<title>
		{% block titulo %}
		{% endblock %}	
	</title>
</head>
<body>
	<header>
		{% block header %}
		{% endblock %}
	</header>
	<nav>
		{% block nav %}
		<li><a href="#">{{ user.username }}</a></li>
		{% endblock %}
	</nav>
	<section>
		{% block contenido %}
		{% endblock %}	
	</section>

	<section>
		{% block scripts %}
		{% endblock %}	
	</section>

</body>
</html>