{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %}
	El Portal del LIBRO
{% endblock %}
{% block estilos %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/modal-login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"> 
{% endblock %}
{% block nav %}
	<nav>
		<ul>
			<li class="active"><a href="{% url "inicio" %}">Inicio</a></li>
			<li><a href="{% url "autor" %}">Autores</a></li>
			<li><a href="{% url "libros" %}">Libros</a></li>
			<li><a href="#">Genero</a></li>
			<a href="#openmodal">
				<img src="/media/img-template/inicio_sesion.png" alt="login">
			</a>
		</ul>
	</nav>
{% endblock%}

{% block contenido %}
	<section id="openmodal" class="modalDialog">
		<section class="modal">
			<a href="#close" class="close">X</a>
			<form action="" method="POST" enctype="miltipart/form-data">
				<h2 id="h2">Login</h2>
				{% csrf_token %}
				{{ formulario.usuario}}
				{{ formulario.clave }}	
				<input id="input" type="submit" value = "Sign me in">
			</form>
		</section>			
	</section>
{% endblock %}
