{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Consultar Libro</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/busqueda.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
</head>
<body>
	
	<nav>
		<ul>
			<li><a href="{% url "inicio" %}">Inicio</a></li>
			<li><a href="{% url "autor" %}">Autores</a></li>
			<li><a class="active" href="{% url "libros" %}">Libros</a></li>
			<li><a href="#">Genero</a></li>
			<li><a href="#">Editoriales</a></li>
		</ul>
	</nav>
	
	<div id="header">
		<h2>LIBROS</h2>		
	</div>

	{% if info_enviado %}
		{% for i in lista %}
			<div class="listas">
				<img src="/media/{{i.portada}}" alt="{{i.titulo}}">
				<div class="texto">
					<p>Titulo: </p>{{ i.titulo }}
					<p>Publicado en: </p>{{ i.ciudad_publicacion }}
					<p>Fecha publicación: </p>{{ i.fecha_publicacion }}
					<p>Numero paginas: </p>{{ i.num_paginas }}
				</div>
				<div class="texto">
					<p>Tradución: </p>{{i.traduccion}}
					<p>Titulo Traducción: </p>{{ i.titulo_traduccion }}
					<p>Codigo ISBN: </p>{{ i.codigo_isbn }}
				</div>
			</div>
		{% endfor %}
	{% else %}

			
			<form action="" method="POST">
				{% csrf_token %}
				{{ formularilibro.titulo_libro }}
				<input id="btn" type="submit" name="Enviar">
			</form>
	{% endif %}	
</body>
</html>