{% load staticfiles %}
.lista{
	height: 250px;
	width: 500px;
	border-bottom: 3px solid #fff;
	background-color: rgba(0,0,0, .5);
	border-radius: 5px;
	margin-left: 31.5%;
}

.img{
	height: 210px;
	width: auto;
	margin: 20px 10px;
	float: left;
}

.texto{
	height: 210px;
	width: 210px;
	color: #fff;
	margin-left:180px;
	padding: 15% 0%;
}